<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solo travelers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
  </head>
  <body>
    <h1>Solo travelers</h1>
    <div id="menu">
      <li class="about"><a href="/about">About</a></li>
      <li class="photos"><a href="/photos">Photos</a></li>
     </div>
    <img src="./images/hp1.JPG"/>
    <p></p>
    <footer><h3>Made with ♥ by <a href="https://github.com/camchpl"> Camille</a></h3></footer>
</body>
</html>

